header {
    height: 10vh;
    width: 83vw;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    line-height: 10vh;
}

table {
    border: 5px #fbc27c solid;
}

thead {
    border-bottom: 5px #fbc27c solid;
}

tbody {
    height:65vh;
    background-color: #f5eea7;
}

th {
    background-color: #80ce6d;
    height: 50px;
}

td {
    background-color: #f5eea7;
    height: 40px;
}

table, thead {
    width: 80vw;
    text-align: center;
    border-collapse: collapse;
}

thead, tbody {
    display: block;
    overflow-y: scroll;
}

th, td {
    border: 2px solid #ffffff;
}

#mode {
    margin-top:10px;
    font-weight: bold;
}

#edit_eria {
    margin:5px 40px;
}

#target_select {
    border-radius: 2px;
    height: 40px;
    width: 5vw;
}

#target_text {
    border-radius: 3px;
    height: 40px;
    width: 48vw;
}

#target_title {
    margin-left: 15px;
}

#register_btn {
    width: 5vw;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    background-color: silver;
    transition: background-color .3s;
    color: white;
}

#register_btn:hover {
    background-color: green;
}

#create_btn {
    width: 7vw;
    height: 42px;
    font-size: 13px;
    font-weight: bold;
    background-color: blue;
    transition: background-color .3s;
    transition: color .5s;
    color: white;
    margin-left: 35px;
}

#create_btn:hover {
    background-color: skyblue;
    color: black;
}

.screen {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 83vw;
    height: 100vh;
    float: right;
}

.edit_btn {
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    background-color: black;
    transition: background-color .3s;
    color: white;
}

.edit_btn:hover {
    background-color: blue;
}

.delete_btn {
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    background-color: red;
    transition: background-color .3s;
    transition: color .5s;
    color: white;
}

.delete_btn:hover {
    background-color: pink;
    color: black;
}

.text_left {
    text-align: left;
}

.width_3 {
    width: 3vw;
}

.width_10 {
    width: 10vw;
}

.width_64 {
    width: 64vw;
}

.width_70 {
    width: 70vw;
}

.target {
    margin: 20px;
}